<html>
<head>
<title>PingMe</title>
<link href="styles/bootstrap.css" rel="stylesheet">
<link href="styles/app.css" rel="stylesheet">
</head>

<body ng-app="chatModule">
  <div class="container" ng-controller='ChatController'>
	   <div class="row">
	     <div class="chat-container well col-xs-offset-2 col-xs-9">
		   <h3>Greetings Earthling!</h3>
           <div ng-repeat="chat in chats">
		     <span>{{chat.username}} :</span>
			 <span>{{chat.content}}</span>
		   </div>		   
		 </div>
	   </div>
	   <div class="row">
	     <div class="col-xs-offset-2 col-xs-5">
		    Type as: <input ng-model="username" ng-default=type="text" name="input"></input>
		    <textarea ng-model="chatContent" class="form-control" rows="3"></textarea>
			<button class="btn btn-default" type="button" ng-click="addChat()">Send</button>
		 </div>
	   </div>
	   
  </div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="app.js"></script>
</body>
</html>